<template>
  <header>
    <router-link class="page" to="/">Ciudadanos</router-link>
    <router-link class="page" to="/tasks">Tareas</router-link>
    <router-link class="page" to="/witch">Bruja</router-link>
  </header>
</template>


<script>
import mobile_detection from "../mixins/mobile_detection";


export default {
  mixins: [mobile_detection],
  name: "Header",
  data() {
    return {};
  },
  mounted() {},
  computed: { },
  methods: { },
  components: { },
};
</script>

<style>
header {
  background-color: #ededed;
  border-bottom-style: groove;
  position: sticky;
  display: block;
  width: 100%;
  top: 0;
  z-index: 999 !important;
  border-bottom: 1px solid #000;
  opacity: 0.97;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em 0em 2em 0em;
  margin-bottom: 2em;
}
.page {
  padding: 18px;
  margin-left: 20px;
  font-size: 20px;
  color: grey;
}
</style>