<template>
  <div>
    <Header />
    <div>
      <h1 class="title">
        Ciudadanos de Eastview
      </h1>

      <h1 class="subtitle">Crear Ciudadano</h1>
      <form class="formGeneral">
        <div class="itemForm">
          <input
            class="input"
            v-model="tempCreatePerson.name"
            type="text"
            placeholder="Ingresé el nombre del ciudadano"
          />
        </div>
        
        <div class="itemForm">
          <input
            class="input"
            v-model="tempCreatePerson.fiscalKey"
            type="text"
            placeholder="Ingresé el RUT del ciudadano"
          />
        </div>

        <button class="btn-main" @click.prevent="createPerson">Crear</button>
      </form>

      <h1 class="subtitle">Lista de Ciudadanos</h1>
      <section v-if="people.length > 0">
        <table>
          <thead>
            <tr>
              <td class="info-column">Nombre</td>
              <td class="info-column">RUT</td>
              <td class="action-column">Acciones</td>
            </tr>
          </thead>
          <tbody>
            <tr v-for="person in people" :key="person.id">
              <td>
                <span v-if="tempUpdatePerson.id !== person.id">
                  {{person.name}}
                </span>
                <span class="itemForm" v-else>
                  <input class="input" v-model="tempUpdatePerson.name" type="text" placeholder="Ingresé el nombre del ciudadano" />
                </span>
              </td>
              <td>
                <span v-if="tempUpdatePerson.id !== person.id">
                  {{person.fiscalKey}}
                </span>
                <span class="itemForm" v-else>
                  <input class="input" v-model="tempUpdatePerson.fiscalKey" type="text" placeholder="Ingresé el RUT del ciudadano" />
                </span>
              </td>
              <td>
                <img class="button-img" alt="Editar" title="Editar" v-show="tempUpdatePerson.id !== person.id" @click.prevent="onChangeToEdit(person)" src="~/assets/img/edit.svg" width="25px" height="25px" />

                <img class="button-img" alt="Guardar" title="Guardar" v-show="tempUpdatePerson.id === person.id" @click.prevent="editPerson()" src="~/assets/img/save.svg" width="28px" height="28px" />

                <img class="button-img" alt="Eliminar" title="Eliminar" @click.prevent="deletePerson(person.id)" src="~/assets/img/delete.svg" width="28px" height="28px" />
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <section v-else>
        No hay ningun ciudadano creado
      </section>
      
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { baseUrl } from "../server";
import mobile_detection from "../mixins/mobile_detection";
import commons from '~/mixins/commons'

export default {
  mixins: [mobile_detection, commons],
  name: "Index",
  data() {
    return {
      people: [],      
      tempCreatePerson: {
        id: null,
        name: "",
        fiscalKey: ""
      },
      tempUpdatePerson: {
        id: null,
        name: "",
        fiscalKey: ""
      }
    };
  },
  mounted() {
    this.getPeople();
  },
  computed: { },
  methods: {
    async getPeople () {
      axios
        .get(`${baseUrl}/api/GetPeople`)
        .then(res => {
          this.showErrors(res)
          this.people = res.data.people
        })
        .catch(error => {
          this.showErrors(error.response)
        });
    },
    createPerson () {
      axios
        .put(`${baseUrl}/api/CreatePerson`, {
          name: this.tempCreatePerson.name,
          fiscalKey: this.tempCreatePerson.fiscalKey
        })
        .then(res => {
          this.showErrors(res)
          this.showSuccess("Ciudadano creado con éxito")
          this.getPeople();
          this.tempCreatePerson = {
            id: null,
            name: "",
            fiscalKey: ""
          };
        })
        .catch(error => {
          this.showErrors(error.response)
        });
    },
    editPerson () {
      axios
        .post(`${baseUrl}/api/UpdatePerson`, {
          personId: this.tempUpdatePerson.id,
          name: this.tempUpdatePerson.name,
          fiscalKey: this.tempUpdatePerson.fiscalKey
        })
        .then(res => {
          this.showErrors(res)
          this.showSuccess("Ciudadano editado con éxito")
          this.getPeople();
          this.tempUpdatePerson = {
            id: null,
            name: "",
            fiscalKey: ""
          };
        })
        .catch(error => {
          this.showErrors(error.response)
        });
    },
    deletePerson (personId) {
      axios
        .delete(`${baseUrl}/api/DeletePerson?personId=${personId}`)
        .then(res => {
          this.showErrors(res)
          this.showSuccess("Ciudadano eliminado con éxito")
          this.getPeople();
        })
        .catch(error => {
          this.showErrors(error.response)
        });
    },
    onChangeToEdit (person) {
      this.tempUpdatePerson.id = person.id;
      this.tempUpdatePerson.name = person.name;
      this.tempUpdatePerson.fiscalKey = person.fiscalKey;
    }
  },
  components: { },
};
</script>

<style>
table {
  margin: 1em 0em;
  padding: 0em 15em;
  width: 100%;
  -moz-text-align-last: center;
  text-align-last: center;
}
section {
  margin: 1em 0em;
  padding: 0em 5em;
  width: 100%;
  -moz-text-align-last: center;
  text-align-last: center;
}

.action-column {
  width: 14%;
  background-color: aliceblue;
}
.info-column {
  width: 20%;
  background-color: aliceblue;
}
        
.btn-main {
  display: inline-flex;
  padding: 6px 25px;
  margin-left: 35px;
  border-radius: 8px;
  background: #3498db;
}
.formGeneral {
  text-align-last: center;
}
.itemForm {
  width: max-content;
  display: inline-grid;
  justify-items: left;
}
input {
  padding: 5px;
  border-radius: 8px;
  width: 30em;
}

.container {
  margin: 2em 0em 0em 0em;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
}
.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 80px;
  text-align-last: center;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
  text-align-last: center;
  margin-top: 2em;
}
</style>