<template>
  <div>
    <Header />
    <div>
      <h1 class="title">
        Tareas de los ciudadanos
      </h1>


      <h1 class="subtitle">Crear Tarea</h1>
      <form class="formGeneral">
        <div class="itemForm">
          <input
            class="input"
            v-model="tempCreateTask.name"
            type="text"
            placeholder="Ingresé el nombre de la tarea"
          />
        </div>

        
        <div class="itemForm">
          <select v-model="tempCreateTask.day" class="combobox">
            <option value disabled selected>Seleccione el día</option>
            <option v-for="(day, index) in getWeeklyDays()" :value="index + 1" :key="index">{{ day }}</option>
          </select>
        </div>
        
        <div class="itemForm">
          <select v-model="tempCreateTask.personId" class="combobox">
            <option value disabled selected>Seleccione el ciudadano</option>
            <option v-for="person in people" :value="person.id" :key="person.id">{{ person.name }} - {{person.fiscalKey}}</option>
          </select>
        </div>

        <button class="btn-main" @click.prevent="createTask">Crear</button>
      </form>

      <h1 class="subtitle">Lista de tareas</h1>
      <section v-if="tasks.length > 0">
        <table>
          <thead>
            <tr>
              <td class="info-column">Tarea</td>
              <td class="info-column">Día</td>
              <td class="info-column">Ciudadano</td>
              <td class="action-column">Acciones</td>
            </tr>
          </thead>
          <tbody>
            <tr v-for="task in tasks" :key="task.id">
              <td>
                <span v-if="tempUpdateTask.id !== task.id">
                  {{task.name}}
                </span>
                <span class="itemForm" v-else>
                  <input class="input" v-model="tempUpdateTask.name" type="text" placeholder="Ingresé el nombre del ciudadano" />
                </span>
              </td>
              <td>
                <span v-if="tempUpdateTask.id !== task.id">
                  {{getWeeklyDays()[task.day - 1]}}
                </span>
                <span class="itemForm" v-else>
                  <div>
                    <select v-model="tempUpdateTask.day" class="combobox">
                      <option value disabled selected>Seleccione el día</option>
                      <option v-for="(day, index) in getWeeklyDays()" :value="index + 1" :key="index">{{ day }}</option>
                    </select>
                  </div>
                </span>
              </td>
              <td>
                <span v-if="tempUpdateTask.id !== task.id">
                  {{task.personName}} - {{task.personFiscalKey}}
                </span>
                <span class="itemForm" v-else>
                  <div>
                    <select v-model="tempUpdateTask.personId" class="combobox">
                      <option value disabled selected>Seleccione el ciudadano</option>
                      <option v-for="person in people" :value="person.id" :key="person.id">{{ person.name }} - {{person.fiscalKey}}</option>
                    </select>
                  </div>
                </span>
              </td>
              <td>
                <img class="button-img" alt="Editar" title="Editar" v-show="tempUpdateTask.id !== task.id" @click.prevent="onChangeToEdit(task)" src="~/assets/img/edit.svg" width="25px" height="25px" />

                <img class="button-img" alt="Guardar" title="Guardar" v-show="tempUpdateTask.id === task.id" @click.prevent="editTask()" src="~/assets/img/save.svg" width="28px" height="28px" />

                <img class="button-img" alt="Eliminar" title="Eliminar" @click.prevent="deleteTask(task.id)" src="~/assets/img/delete.svg" width="28px" height="28px" />
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <section v-else>
        No hay ningun ciudadano creado
      </section>
      
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { baseUrl } from "../server";
import mobile_detection from "../mixins/mobile_detection";
import commons from '~/mixins/commons'

export default {
  mixins: [mobile_detection, commons],
  name: "Task",
  data() {
    return {
      people: [],  
      tasks: [],    
      tempCreateTask: {
        id: null,
        name: "",
        day: null,
        personId: null
      },
      tempUpdateTask: {
        id: null,
        name: "",
        day: null,
        personId: null
      }
    };
  },
  mounted() {
    this.getPeople();
    this.getTasks();
  },
  computed: { },
  methods: {
    async getPeople () {
      axios
        .get(`${baseUrl}/api/GetPeople`)
        .then(res => {
          this.showErrors(res)
          this.people = res.data.people
        })
        .catch(error => {
          this.showErrors(error.response)
        });
    },
    async getTasks () {
      axios
        .get(`${baseUrl}/api/GetTasks`)
        .then(res => {
          this.showErrors(res)
          this.tasks = res.data.tasks
        })
        .catch(error => {
          this.showErrors(error.response)
        });
    },
    createTask () {
      axios
        .put(`${baseUrl}/api/CreateTask`, {
          name: this.tempCreateTask.name,
          day: this.tempCreateTask.day,
          personId: this.tempCreateTask.personId
        })
        .then(res => {
          this.showErrors(res)
          this.showSuccess("Tarea creada con éxito")
          this.getTasks();
          this.tempCreateTask = {
            id: null,
            name: "",
            day: null,
            personId: null
          }
        })
        .catch(error => {
          this.showErrors(error.response)
        });
    },
    editTask () {
      axios
        .post(`${baseUrl}/api/UpdateTask`, {
          taskid: this.tempUpdateTask.id,
          personId: this.tempUpdateTask.personId,
          name: this.tempUpdateTask.name,
          day: this.tempUpdateTask.day
        })
        .then(res => {
          this.showErrors(res)
          this.showSuccess("Tarea editada con éxito")
          this.getTasks();
          this.tempUpdateTask = {
            id: null,
            name: "",
            day: null,
            personId: null
          }
        })
        .catch(error => {
          this.showErrors(error.response)
        });
    },
    deleteTask (taskId) {
      axios
        .delete(`${baseUrl}/api/DeleteTask?taskId=${taskId}`)
        .then(res => {
          this.showErrors(res)
          this.showSuccess("Tarea eliminada con éxito")
          this.getTasks();
        })
        .catch(error => {
          this.showErrors(error.response)
        });
    },
    onChangeToEdit (task) {
      this.tempUpdateTask.id = task.id;
      this.tempUpdateTask.name = task.name;
      this.tempUpdateTask.day = task.day;
      this.tempUpdateTask.personId = task.personId;
    }
  },
  components: { },
};
</script>

<style>
.combobox {
  padding: 0.5em;
  border-radius: 8px;
}
table {
  margin: 1em 0em;
  padding: 0em 15em;
  width: 100%;
  -moz-text-align-last: center;
  text-align-last: center;
}
section {
  margin: 1em 0em;
  padding: 0em 5em;
  width: 100%;
  -moz-text-align-last: center;
  text-align-last: center;
}
.action-column {
  width: 14%;
  background-color: aliceblue;
}
.info-column {
  width: 20%;
  background-color: aliceblue;
}
        
.btn-main {
  display: inline-flex;
  padding: 6px 25px;
  margin-left: 35px;
  border-radius: 8px;
  background: #3498db;
}
.formGeneral {
  text-align-last: center;
}
.itemForm {
  width: max-content;
  display: inline-grid;
  justify-items: left;
}
input {
  padding: 5px;
  border-radius: 8px;
  width: 30em;
}

.container {
  margin: 2em 0em 0em 0em;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
}
.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 80px;
  text-align-last: center;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
  text-align-last: center;
  margin-top: 2em;
}
</style>