<template>
  <div>
    <Header />
    <div>
      <h1 class="title">
        Vista de la bruja
      </h1>
      <h5 class="subtitle">
        Desde acá podrá ver las tareas de cada ciudadano seleccionando un día
      </h5>

      <div class="selected-day">
        <select v-model="selectedDay" @change="onChangeSelectedDay()" class="combobox">
          <option value disabled selected>Seleccione el día</option>
          <option v-for="(day, index) in getWeeklyDays()" :value="index + 1" :key="index">{{ day }}</option>
        </select>
      </div>

      <section v-if="personTasks.length > 0">
        <div v-for="personTask in personTasks" :key="personTask.id" class="person-content">
          <h5 class="person-info">{{personTask.name}} - {{personTask.fiscalKey}}</h5>
          <li v-for="task in personTask.tasks" :key="task.id">
            {{task.name}}
          </li>
        </div>
      </section>
      <section v-else>
        No hay ninguna tarea asignada para este día
      </section>
      
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { baseUrl } from "../server";
import mobile_detection from "../mixins/mobile_detection";
import commons from '~/mixins/commons'

export default {
  mixins: [mobile_detection, commons],
  name: "Witch",
  data() {
    return {
      personTasks: [],
      selectedDay: null
    };
  },
  mounted() {
    let dayOfWeek = new Date().getDay();
    if (dayOfWeek == 0) dayOfWeek = 7;

    this.selectedDay = dayOfWeek;
  
    this.getPersonTasks();
  },
  computed: { },
  methods: {
    async getPersonTasks () {
      axios
        .get(`${baseUrl}/api/GetPersonTasksByDay?day=${this.selectedDay}`)
        .then(res => {
          this.showErrors(res)
          this.personTasks = res.data.people
        })
        .catch(error => {
          this.showErrors(error.response)
        });
    },
    onChangeSelectedDay () {
      this.getPersonTasks();
    }
  },
  components: { },
};
</script>

<style>
.combobox {
  padding: 0.5em;
  border-radius: 8px;
}
.person-info {
  text-align-last: left;
}
.person-content {
  padding: 1em;
  border-style: groove;
  margin: 2em;
}
section {
  margin: 1em 0em;
  padding: 0em 5em;
  width: 100%;
  -moz-text-align-last: center;
  text-align-last: center;
}
.selected-day {
  width: 100% !important;
  display: inline-grid;
  text-align: -webkit-center;
  justify-content: center;
  margin-bottom: 2em;
}

.container {
  margin: 2em 0em 0em 0em;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
}

.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 80px;
  text-align-last: center;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
  text-align-last: center;
  margin-top: 2em;
}
</style>
